hostname: waxwing
transmissionuser: admin
transmissionpass: ohyeah
aws_access_key_id: fakey
aws_secret_access_key: fakey
s3_bucket: really-cool-bucket-name
notification_email: hi@gmail.com
email_server: smtp.gmail.com
email_username: hi@gmail.com
email_password: pwordisgreat
external_drives:
  test:
    uuid: fff-fff-fff
